@font-face {
    font-family: font-god;
    src: url(./Norse-Bold.otf);
  }

.background {
    background-image: url(img/bg.png);
    height: 100vh;
    width: 40vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    padding: 0;
    margin: 0;
}

.background > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 10vh;
    background-color: rgba(189, 100, 85, 0.414);
    height: 18vh;
}

h1 {
    font-size: 80px;
    letter-spacing: 10px;
    font-family: font-god;
    padding-top: 30px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 7vw;
}

.text {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 128, 120, 0.271);
}

fieldset > div {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 16vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 40vh;
    gap: 100px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: center;
    border: 0;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 4px;
  }

input:focus {
    box-shadow: 5px 5px 5px grey;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.error_message {
    font-size: 14px;
    margin-bottom: -3.22vh;
    color: rgb(164, 29, 29);
}

input.error{
    border: 1px solid rgb(164, 29, 29);
}

.verified {
    background-color: green;
    
}

.but {
    background-color: rgb(236, 149, 149);
    font-size: 20px;
    border: 3px solid rgb(236, 149, 149);
    margin-top: 2vh;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    width: 16vw;
    align-self: center;

}

.but:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

.log-in {
    align-self: flex-start;
    margin-left: 9vw;
    margin-top: 5vh;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

